
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Noto+Sans:wght@300;500&display=swap');

@font-face {
  font-family: floralia;
  src: url('/assets/font/floralia.woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {

  .header-link {
    @apply inline-block text-black no-underline hover:text-blue-800 py-2 px-4 underline-offset-2 decoration-2 hover:underline;
  }

  .header-link-current {
    @apply inline-block py-2 px-4 text-blue-800 font-bold underline underline-offset-2 decoration-2;
  }
  .flower {
    font-family: 'floralia' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 3rem;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .gradient {
    @apply bg-gradient-to-r from-blue-800 to-pink-800;
  }

  .gradient-light {
    @apply bg-gradient-to-r from-blue-600 to-pink-600;
  }

  .section-anchor {
    position: relative; top: -96px; height: 0; width: 0;
  }
}

