
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Noto+Sans:wght@300;500&display=swap');

@font-face {
  font-family: floralia;
  src: url('/assets/font/floralia.woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {

  .header-link {
    @apply inline-block text-black no-underline hover:text-blue-800 py-2 px-4 underline-offset-2 decoration-2 hover:underline;
  }

  .header-link-current {
    @apply inline-block py-2 px-4 text-blue-800 font-bold underline underline-offset-2 decoration-2;
  }
  .flower {
    font-family: 'floralia' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 3rem;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .gradient {
    @apply bg-gradient-to-r from-blue-800 to-pink-800;
  }

  .gradient-light {
    @apply bg-gradient-to-r from-blue-600 to-pink-600;
  }

  .section-anchor {
    position: relative; top: -96px; height: 0; width: 0;
  }

  .checkbox {
    @apply
    rounded
    border-gray-300
    text-blue-600
    shadow-sm
    focus:border-blue-300
    focus:ring
    focus:ring-offset-0
    focus:ring-blue-200
    focus:ring-opacity-50
  }
}

/*spinner loader*/
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #1758a4;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}


.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  margin: 0 auto;
  padding: 10px;
}
.gallery-item {
  flex-basis: 18.7%;
  margin-bottom: 12px;
  margin-right: 8px;
  opacity: .85;
  cursor: pointer;
}
.gallery-item:hover {
  opacity: 1;
}
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-content {
  font-size: .8em;
}

.lightbox {
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  z-index: 100;
}
.lightbox-content {
  margin: auto;
  max-width: 70%;
  height: 90vh;
  padding-top: 7vh;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.lightbox-content img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.lightbox-prev,
.lightbox-next,
.lightbox-close {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffffc2;
  padding: 11px;
  top: 45%;
  cursor: pointer;
  font-size: 1.3em;
}
.lightbox-prev {
  left: 0;
}
.lightbox-next {
  right: 0;
}
.lightbox-close {
  top: 0;
  right: 0;
}
.lightbox-prev:hover,
.lightbox-next:hover {
  background-color: rgba(0, 0, 0, 1.0);
  color: #fff;
}

@media (max-width: 767px) {
  .gallery-container {
    width: 100%;
  }
  .gallery-item {
    flex-basis: 47.80%;
    margin-bottom: 3px;
  }
  .lightbox-content {
    max-width: 90%;
    height: 95vh;
    padding-top: 3vh;
  }
}
@media (max-width: 480px) {
  .gallery-item {
    flex-basis: 100%;
    margin-bottom: 1px;
  }
  .lightbox-content {
    max-width: 100%;
    height: 100vh;
    padding-top: 0;
  }
}
