
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Noto+Sans:wght@300;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}
